.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: 0;

  &:focus {
    text-decoration: none;
    outline: none;
  }

  &.active {
    cursor: pointer; // only something to be able to set the class
  }
}
