.menu {
  flex-grow: 0;
}

.menuList {
  display: flex;
  justify-content: right;
  margin: 0;
  list-style-type: none;
}

.link {
  color: #fff;

  .icon {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
  }
}
